header {
    height: 448px;
    // background-image: url('~@/assets/home-bg.jpg');
    background-size: cover;
    background-color: #808080;
    background-position: center center;
    background-attachment: scroll;
    margin-bottom: 50px;
    .container {
        margin: 0 auto;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .site-heading {
        width: 100%;
        text-align: center;
        h1 {
            font-size: 80px;
            color: #fff;
            line-height: 1;
        }
        .subheading {
            font-size: 24px;
            line-height: 1.1;
            display: block;
            font-weight: 300;
            margin: 10px 0 0;
            color: #fff;
        }
    }
}

.article-item {
    border-bottom: 1px solid #eee;
    h3 {
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 10px;
        color: #404040;
        cursor: pointer;
        &:hover {
            color: #0085a1;
        }
    }
    p {
        color: #808080;
        font-size: 18px;
        font-style: italic;
        margin-top: 0;
        line-height: 1.5;
        margin: 30px 0;
        margin-top: 0;
    }
}